/Ciclo 2/Fundamentos de Programacion II/Semana 4/AlmacenInterfaz/dist/
/Ciclo 2/Fundamentos de Programacion II/Semana 4/Convertidor/nbproject/private/
/Ciclo 2/Fundamentos de Programacion II/Semana 4/Convertidor/build/
/Ciclo 2/Fundamentos de Programacion II/Semana 4/Convertidor/dist/
/Ciclo 2/Fundamentos de Programacion II/Semana 4/AlmacenVector/nbproject/private/
/Ciclo 2/Fundamentos de Programacion II/Semana 4/AlmacenVector/build/
/Ciclo 2/Fundamentos de Programacion II/Semana 4/AlmacenVector/dist/
/Ciclo 2/Fundamentos de Programacion II/Semana 4/Reto2Semana4/nbproject/private/
/Ciclo 2/Fundamentos de Programacion II/Semana 4/Reto2Semana4/build/
/Ciclo 2/Fundamentos de Programacion II/Semana 4/prueba/nbproject/private/
/Ciclo 2/Fundamentos de Programacion II/Semana 4/prueba/build/
/Ciclo 2/Fundamentos de Programacion II/Semana 5/SoftPruebasUnitarias/nbproject/private/
/Ciclo 2/Fundamentos de Programacion II/Semana 5/SoftPruebasUnitarias/build/
/Ciclo 2/Fundamentos de Programacion II/Semana 5/SoftAlmacenPruebas/nbproject/
/Ciclo 2/Fundamentos de Programacion II/Semana 6/Reto3Variante3/nbproject/private/
/Ciclo 2/Fundamentos de Programacion II/Semana 6/Reto4Variante3/nbproject/private/
/Ciclo 2/Fundamentos de Programacion II/Semana 6/Reto4Variante3/build/
/Ciclo 3/Sprint 1 Mintic Ciclo 3/
/Ciclo 3/Sprint 2 Mintic Ciclo 3/
